.number_to_tiles {
  display: inline;
  text-align: center;
}
.shaded_tiles {
  display: inline-block;
  vertical-align: middle;
  min-width: 42px;
  border-bottom: 10px #544439 solid;
  border-radius: 5px;
  margin-left: 10px;
}
.unshaded_tiles {
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  border-bottom: 10px #e0e0e0 solid;
  border-radius: 5px;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .number_to_tiles {
    display: inline;
    text-align: center;
  }
  .shaded_tiles {
    min-width: 25px;
    border-radius: 5px;
    margin-left: 5px;
  }
  .unshaded_tiles {
    width: 25px;
    border-radius: 5px;
    margin-left: 5px;
  }
}
